/__pycache__
/datasets
/saved_models
/speaker_encoder/data
/speaker_encoder/__pycache__
/synthesizer/data
/synthesizer/__pycache__
/vocoder/__pycache__

debug_model1.wav
debug_pretrained.wav

/production_models/synthesizer